mule-module-apikit/src/test/resources/org/mule/module/apikit/pathless/pathless-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">


    <httpn:listener-config name="httpListenerConfigPathless">
        <httpn:listener-connection host="localhost" port="${serverPortPathless}"/>
    </httpn:listener-config>

    <httpn:listener-config name="httpListenerConfigEmptyPath">
        <httpn:listener-connection host="localhost" port="${serverPortEmptyPath}"/>
    </httpn:listener-config>

    <httpn:listener-config name="httpListenerConfigSlashPath">
        <httpn:listener-connection host="localhost" port="${serverPortSlashPath}"/>
    </httpn:listener-config>

    <apikit:config name="pathless" raml="org/mule/module/apikit/pathless/pathless.yaml"/>

    <apikit:config name="emptyPath" raml="org/mule/module/apikit/pathless/pathless.yaml"/>

    <apikit:config name="slashPath" raml="org/mule/module/apikit/pathless/pathless.yaml"/>

    <apikit:config name="addressSlashPath" raml="org/mule/module/apikit/pathless/pathless.yaml"/>


    <flow name="doorwayPathless">
        <httpn:listener config-ref="httpListenerConfigPathless" path="/*">
            <httpn:response-builder statusCode="#[httpStatus]" headersRef="#[_outboundHeaders_]"/>
            <httpn:error-response-builder statusCode="500"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>
        <apikit:router config-ref="pathless"/>
        <!--<exception-strategy ref="Global_Mapping_Exception_Strategy"/>-->
    </flow>

    <!-- works since MULE-6968 -->
    <flow name="doorwayEmptyPath">
        <httpn:listener config-ref="httpListenerConfigEmptyPath" path="*">
            <httpn:response-builder statusCode="#[httpStatus]" headersRef="#[_outboundHeaders_]"/>
            <httpn:error-response-builder statusCode="500"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>
        <apikit:router config-ref="emptyPath"/>
        <!--<exception-strategy ref="Global_Mapping_Exception_Strategy"/>-->
    </flow>

    <!-- works since MULE-6968 -->
    <flow name="doorwaySlashPath">
        <httpn:listener config-ref="httpListenerConfigSlashPath" path="/*">
            <httpn:response-builder statusCode="#[httpStatus]" headersRef="#[_outboundHeaders_]"/>
            <httpn:error-response-builder statusCode="500"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>
        <apikit:router config-ref="slashPath"/>
        <!--<exception-strategy ref="Global_Mapping_Exception_Strategy"/>-->
    </flow>

    <flow name="get:/orders">
        <logger level="INFO" message="siamo qui"/>
    </flow>

</mule>
