mule-module-apikit/src/test/resources/org/mule/module/apikit/config/configuration-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <configuration defaultErrorHandler-ref="defaultErrorHandler"/>

    <apikit:config name="default" raml="org/mule/module/apikit/config/config.yaml"/>

    <apikit:config name="custom" raml="org/mule/module/apikit/config/config.yaml" consolePath="custom"/>

    <apikit:config name="no-console" raml="org/mule/module/apikit/config/config.yaml" consoleEnabled="false"/>

    <apikit:config name="mapped-flows" raml="org/mule/module/apikit/config/config.yaml">
        <apikit:flow-mapping resource="/resource" action="get" flow-ref="retrieve"/>
    </apikit:config>

    <httpn:listener-config name="httpListenerConfigDefault">
        <httpn:listener-connection host="localhost" port="${serverPortDefault}"/>
    </httpn:listener-config>

    <httpn:listener-config name="httpListenerConfigCustom">
        <httpn:listener-connection host="localhost" port="${serverPortCustom}"/>
    </httpn:listener-config>

    <httpn:listener-config name="httpListenerConfigNoConsole">
        <httpn:listener-connection host="localhost" port="${serverPortNoConsole}"/>
    </httpn:listener-config>

    <httpn:listener-config name="httpListenerConfigMapping">
        <httpn:listener-connection host="localhost" port="${serverPortMapping}"/>
    </httpn:listener-config>

    <httpn:listener-config name="httpListenerConfigNoValidations">
        <httpn:listener-connection host="localhost" port="${serverPortNoValidations}"/>
    </httpn:listener-config>

    <apikit:config name="no-validations" raml="org/mule/module/apikit/config/config.yaml" disableValidations="true"/>

    <flow name="defaultEntry">
        <httpn:listener config-ref="httpListenerConfigDefault" path="/default/*">
            <httpn:response-builder statusCode="#[mel:httpStatus]">
                <httpn:headers>#[mel:_outboundHeaders_]</httpn:headers>
            </httpn:response-builder>
            <httpn:error-response-builder statusCode="#[mel:httpStatus]"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[mel:new java.util.HashMap()]"/>
        <apikit:router config-ref="default"/>
    </flow>

    <flow name="customEntry">
        <httpn:listener config-ref="httpListenerConfigCustom" path="/custom/*">
            <httpn:response-builder statusCode="#[mel:httpStatus]">
                <httpn:headers>#[mel:_outboundHeaders_]</httpn:headers>
            </httpn:response-builder>
            <httpn:error-response-builder statusCode="#[mel:httpStatus]"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[mel:new java.util.HashMap()]"/>
        <apikit:router config-ref="custom"/>
    </flow>

    <flow name="noConsoleEntry">
        <httpn:listener config-ref="httpListenerConfigNoConsole" path="/no-console/*">
            <httpn:response-builder statusCode="#[mel:httpStatus]">
                <httpn:headers>#[mel:_outboundHeaders_]</httpn:headers>
            </httpn:response-builder>
            <httpn:error-response-builder statusCode="#[mel:httpStatus]"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[mel:new java.util.HashMap()]"/>
        <apikit:router config-ref="no-console"/>
    </flow>

    <flow name="mappingEntry">
        <httpn:listener config-ref="httpListenerConfigMapping" path="/mapping/*">
            <httpn:response-builder statusCode="#[mel:httpStatus]">
                <httpn:headers>#[mel:_outboundHeaders_]</httpn:headers>
            </httpn:response-builder>
            <httpn:error-response-builder statusCode="#[mel:httpStatus]"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[mel:new java.util.HashMap()]"/>
        <apikit:router config-ref="mapped-flows"/>
    </flow>

    <flow name="noValidations">
        <httpn:listener config-ref="httpListenerConfigNoValidations" path="/no-validations/*">
            <httpn:response-builder statusCode="#[mel:httpStatus]">
                <httpn:headers>#[mel:_outboundHeaders_]</httpn:headers>
            </httpn:response-builder>
            <httpn:error-response-builder statusCode="#[mel:httpStatus]"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[mel:new java.util.HashMap()]"/>
        <apikit:router config-ref="no-validations"/>
    </flow>

    <flow name="get:/resource">
        <set-payload value="some resources"/>
    </flow>

    <flow name="patch:/resource">
        <set-payload value="#[mel:null]"/>
    </flow>

    <flow name="retrieve">
        <set-payload value="explicitely mapped flow"/>
    </flow>

    <flow name="put:/forgiving/{id}">
        <set-payload value="no validations performed"/>
    </flow>


    <error-handler name="defaultErrorHandler">
        <on-error-propagate when="#[mel:exception.causedBy(org.mule.module.apikit.exception.NotFoundException)]">
            <set-variable variableName="httpStatus" value="404"/>
            <set-payload value="{ &quot;message&quot;: &quot;resource not found&quot; }" mimeType="application/json" />
        </on-error-propagate>
        <on-error-propagate>
            <set-variable variableName="httpStatus" value="500"/>
            <set-payload value="Server error" mimeType="text/plain"/>
        </on-error-propagate>
    </error-handler>

</mule>
