mule-module-apikit/src/test/resources/org/mule/module/apikit/filters/filter-flow-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <apikit:config name="filterApi" raml="org/mule/module/apikit/filters/filter.raml" consoleEnabled="false"/>

    <httpn:listener-config name="httpListenerConfig">
        <httpn:listener-connection host="localhost" port="${serverPort}"/>
    </httpn:listener-config>

    <flow name="doorway">
        <httpn:listener config-ref="httpListenerConfig" path="/api/*">
            <httpn:response-builder headersRef="#[_outboundHeaders_]"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>
        <apikit:router/>
        <!--<exception-strategy ref="Global_Mapping_Exception_Strategy"/>-->
    </flow>

    <flow name="put:/some">
        <regex-filter pattern="x"/>
        <set-payload value="not filtered"/>
    </flow>

    <flow name="put:/throw">
        <message-filter throwOnUnaccepted="true">
            <regex-filter pattern="x"/>
        </message-filter>
        <set-payload value="not filtered"/>
    </flow>

</mule>
