mule-module-apikit/src/test/resources/org/mule/module/apikit/unicode/resource-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <configuration defaultErrorHandler-ref="defaultErrorHandler"/>

    <error-handler name="defaultErrorHandler">
        <on-error-propagate when="#[mel:exception.causedBy(org.mule.module.apikit.exception.NotFoundException)]">
            <set-variable variableName="httpStatus" value="404"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" mimeType="application/json" />
        </on-error-propagate>
        <on-error-propagate when="#[mel:exception.causedBy(org.mule.module.apikit.exception.MethodNotAllowedException)]">
            <set-variable variableName="httpStatus" value="405"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" mimeType="application/json" />
        </on-error-propagate>
        <on-error-propagate when="#[mel:exception.causedBy(org.mule.module.apikit.exception.UnsupportedMediaTypeException)]">
            <set-variable variableName="httpStatus" value="415"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" mimeType="application/json"/>
        </on-error-propagate>
        <on-error-propagate when="#[mel:exception.causedBy(org.mule.module.apikit.exception.NotAcceptableException)]">
            <set-variable variableName="httpStatus" value="406"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" mimeType="application/json"/>
        </on-error-propagate>
        <on-error-propagate when="#[mel:exception.causedBy(org.mule.module.apikit.exception.BadRequestException)]">
            <set-variable variableName="httpStatus" value="400"/>
            <set-payload value="#[mel:exception.causeException.message]"/>
        </on-error-propagate>
        <on-error-propagate>
            <set-variable variableName="httpStatus" value="500"/>
            <set-payload value="Server error" mimeType="text/plain"/>
        </on-error-propagate>
    </error-handler>

    <httpn:listener-config name="httpListenerConfigDefault">
        <httpn:listener-connection host="localhost" port="${serverPort}"/>
    </httpn:listener-config>

    <apikit:config name="api" raml="org/mule/module/apikit/unicode/resource.yaml" consoleEnabled="false"/>

    <flow name="doorway">
        <httpn:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <httpn:response-builder statusCode="#[mel:httpStatus]"><httpn:headers>#[mel:_outboundHeaders_]</httpn:headers></httpn:response-builder>
            <httpn:error-response-builder statusCode="#[mel:httpStatus]"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[mel:new java.util.HashMap()]"/>
        <apikit:router config-ref="api"/>
    </flow>

    <flow name="console">
        <httpn:listener config-ref="httpListenerConfigDefault" path="/console/*">
            <httpn:response-builder statusCode="#[mel:httpStatus]"><httpn:headers>#[mel:_outboundHeaders_]</httpn:headers></httpn:response-builder>
            <httpn:error-response-builder statusCode="#[mel:httpStatus]"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[mel:new java.util.HashMap()]"/>
        <apikit:console config-ref="api"/>
    </flow>

    <flow name="get:/pingüino">
        <set-payload value="my name is nestor"/>
        <expression-component>mel:flowVars['_outboundHeaders_'].put('Content-Type', 'text/html;charset=utf-8')</expression-component>
        <!--<set-property propertyName="Content-Type" value="text/html;charset=utf-8"/>-->
    </flow>

    <flow name="get:/pingüino/{id}">
        <set-payload value="my name is #[mel:id]"/>
        <expression-component>mel:flowVars['_outboundHeaders_'].put('Content-Type', 'text/html;charset=utf-8')</expression-component>
        <!--<set-property propertyName="Content-Type" value="text/html;charset=utf-8"/>-->
    </flow>

    <flow name="post:/test">
        <set-payload value="#[mel:payload]"/>
    </flow>

</mule>