mule-module-apikit/src/test/resources/org/mule/module/apikit/leagues/listener-flow-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <apikit:config raml="org/mule/module/apikit/leagues/listener.yaml"/>

    <!--<http:listener-config name="httpConfig" host="0.0.0.0" port="${serverPort}" />-->

    <httpn:listener-config name="httpListenerConfigDefault">
        <httpn:listener-connection host="localhost" port="${serverPort}"/>
    </httpn:listener-config>

    <flow name="doorway">
        <!--<http:listener config-ref="httpConfig" path="/api/*" />-->
        <httpn:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <httpn:response-builder statusCode="#[httpStatus]" headersRef="#[_outboundHeaders_]"/>
            <httpn:error-response-builder statusCode="500"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>
        <apikit:router/>
    </flow>

    <flow name="get:/leagues/{leagueId}">
        <!-- using inboung property http.uri.params -->
        <set-payload value="{ &quot;id&quot;: &quot;#[message.inboundProperties['http.uri.params']['leagueId']]&quot;, &quot;name&quot;: &quot;Liga BBVA&quot; }"/>

        <!-- using flow variable -->
        <!--<set-payload value="{ &quot;id&quot;: &quot;#[leagueId]&quot;, &quot;name&quot;: &quot;Liga BBVA&quot; }"/>-->
    </flow>

</mule>
