mule-module-apikit/src/test/resources/org/mule/module/apikit/schema/encoding-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
        http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">


    <apikit:config name="raml08" raml="org/mule/module/apikit/schema/encoding-08.raml" consoleEnabled="false"/>
    <apikit:config name="raml10" raml="org/mule/module/apikit/schema/encoding.raml" consoleEnabled="false"/>

    <httpn:listener-config name="api-httpListenerConfig">
        <httpn:listener-connection host="localhost" port="${serverPort}"/>
    </httpn:listener-config>

    <flow name="doorway10">
        <httpn:listener config-ref="api-httpListenerConfig" path="/api10/*">
            <httpn:response-builder statusCode="#[httpStatus]"><httpn:headers>#[_outboundHeaders_]</httpn:headers></httpn:response-builder>
            <httpn:error-response-builder statusCode="500"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>
        <apikit:router config-ref="raml10"/>
    </flow>

    <flow name="doorway08">
        <httpn:listener config-ref="api-httpListenerConfig" path="/api08/*">
            <httpn:response-builder statusCode="#[httpStatus]"><httpn:headers>#[_outboundHeaders_]</httpn:headers></httpn:response-builder>
            <httpn:error-response-builder statusCode="500"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>
        <apikit:router config-ref="raml08"/>
    </flow>

    <flow name="doorway10string">
        <httpn:listener config-ref="api-httpListenerConfig" path="/api10str/*">
            <httpn:response-builder statusCode="#[httpStatus]"><httpn:headers>#[_outboundHeaders_]</httpn:headers></httpn:response-builder>
            <httpn:error-response-builder statusCode="500"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>
       <object-to-string-transformer/>
        <apikit:router config-ref="raml10"/>
    </flow>

    <flow name="doorway08string">
        <httpn:listener config-ref="api-httpListenerConfig" path="/api08str/*">
            <httpn:response-builder statusCode="#[httpStatus]"><httpn:headers>#[_outboundHeaders_]</httpn:headers></httpn:response-builder>
            <httpn:error-response-builder statusCode="500"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>
        <object-to-string-transformer/>
        <apikit:router config-ref="raml08"/>
    </flow>

    <flow name="post:/testXml:raml10">
        <set-payload value="#[payload]"/>
    </flow>

    <flow name="post:/testJson:raml10">
        <set-payload value="#[payload]"/>
    </flow>

    <flow name="post:/testXml:raml08">
        <set-payload value="#[payload]"/>
    </flow>

    <flow name="post:/testJson:raml08">
        <set-payload value="#[payload]"/>
    </flow>

</mule>
