mule-module-apikit/src/test/resources/org/mule/module/apikit/schema/generated-schema-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
        http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">

    <configuration defaultErrorHandler-ref="defaultErrorHandler"/>

    <error-handler name="defaultErrorHandler">
        <on-error-propagate when="#[exception.causedBy(org.mule.module.apikit.exception.NotFoundException)]">
            <set-variable variableName="httpStatus" value="404"/>
            <set-payload value="resource not found"/>
        </on-error-propagate>
        <on-error-propagate when="#[exception.causedBy(org.mule.module.apikit.exception.MethodNotAllowedException)]">
            <set-variable variableName="httpStatus" value="405"/>
            <set-payload value="method not allowed"/>
        </on-error-propagate>
        <on-error-propagate when="#[exception.causedBy(org.mule.module.apikit.exception.UnsupportedMediaTypeException)]">
            <set-variable variableName="httpStatus" value="415"/>
            <set-payload value="unsupported media type"/>
        </on-error-propagate>
        <on-error-propagate when="#[exception.causedBy(org.mule.module.apikit.exception.NotAcceptableException)]">
            <set-variable variableName="httpStatus" value="406"/>
            <set-payload value="not acceptable"/>
        </on-error-propagate>
        <on-error-propagate>
            <set-variable variableName="httpStatus" value="500"/>
            <set-payload value="Server error" mimeType="text/plain"/>
        </on-error-propagate>
    </error-handler>

    <apikit:config name="salesApi" raml="org/mule/module/apikit/schema/generated-schema-api.yaml" consoleEnabled="true" consolePath="console"/>

    <httpn:listener-config name="api-httpListenerConfig">
        <httpn:listener-connection host="localhost" port="${serverPort}"/>
    </httpn:listener-config>

    <flow name="doorway">
        <httpn:listener config-ref="api-httpListenerConfig" path="/api/*">
            <httpn:response-builder statusCode="#[httpStatus]"><httpn:headers>#[_outboundHeaders_]</httpn:headers></httpn:response-builder>
            <httpn:error-response-builder statusCode="#[httpStatus]"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>
        <apikit:router/>
    </flow>

    <flow name="put:/currentuser">
        <set-payload value="hello"/>
    </flow>

</mule>
