mule-module-apikit/src/test/resources/org/mule/module/apikit/schema/schema-cache-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
        http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">

    <httpn:listener-config name="api-httpListenerConfig">
        <httpn:listener-connection host="localhost" port="${serverPort}"/>
    </httpn:listener-config>

    <apikit:config name="cam" raml="org/mule/module/apikit/schema/twin-cam.yaml"/>
    <apikit:config name="peaks" raml="org/mule/module/apikit/schema/twin-peaks.yaml"/>

    <flow name="doorway-cam">
        <httpn:listener config-ref="api-httpListenerConfig" path="/cam/*">
            <httpn:response-builder statusCode="#[mel:httpStatus]"><httpn:headers>#[mel:_outboundHeaders_]</httpn:headers></httpn:response-builder>
            <httpn:error-response-builder statusCode="500"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[mel:new java.util.HashMap()]"/>
        <apikit:router config-ref="cam"/>
    </flow>

    <flow name="doorway-peaks">
        <httpn:listener config-ref="api-httpListenerConfig" path="/peaks/*">
            <httpn:response-builder statusCode="#[mel:httpStatus]"><httpn:headers>#[mel:_outboundHeaders_]</httpn:headers></httpn:response-builder>
            <httpn:error-response-builder statusCode="500"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[mel:new java.util.HashMap()]"/>
        <apikit:router config-ref="peaks"/>
    </flow>

    <flow name="put:/currentuser">
        <set-payload value="disregard"/>
    </flow>

</mule>
