mule-module-apikit/src/test/resources/org/mule/module/apikit/compat/compat-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <apikit:config name="localhost" raml="org/mule/module/apikit/compat/compat.raml" consoleEnabled="false"/>

    <httpn:listener-config name="httpListenerConfig">
        <httpn:listener-connection host="localhost" port="${serverPort}"/>
    </httpn:listener-config>

    <flow name="router">
        <httpn:listener config-ref="httpListenerConfig" path="/api/*">
            <httpn:response-builder statusCode="#[httpStatus]"><httpn:headers>#[_outboundHeaders_]</httpn:headers></httpn:response-builder>
            <httpn:error-response-builder statusCode="500"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>
        <apikit:router config-ref="localhost"/>
    </flow>

    <flow name="get:/world/user">
        <expression-component>flowVars['_outboundHeaders_'].put('Content-Type', 'application/json')</expression-component>
        <!--<set-property propertyName="Content-Type" value="application/json"/>-->
        <set-payload value="{ &quot;name&quot;: &quot;Lisa&quot; }"/>
    </flow>

</mule>
