mule-module-apikit/src/test/resources/org/mule/module/apikit/path/message-processor-path.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">

    <flow name="exception-strategy">
        <set-payload value="none" />
        <error-handler>
            <on-error-propagate when="#[mel:exception.causedBy(org.mule.module.apikit.exception.NotFoundException)]">
                <set-variable variableName="httpStatus" value="404"/>
                <set-payload value="resource not found"/>
            </on-error-propagate>
            <on-error-propagate>
                <set-variable variableName="httpStatus" value="500"/>
                <set-payload value="Server error" mimeType="text/plain"/>
            </on-error-propagate>
        </error-handler>
    </flow>


</mule>