mule-module-apikit/src/test/resources/org/mule/module/apikit/validation/json-schema-date/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <httpn:listener-config name="httpListenerConfigDefault">
        <httpn:listener-connection host="0.0.0.0" port="${http.port}"/>
    </httpn:listener-config>

    <apikit:config name="apiConfig" raml="org/mule/module/apikit/validation/json-schema-date/jsonschema-fail-on-warning.raml" consoleEnabled="true" consolePath="console" />

    <flow name="api-main">
        <httpn:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <httpn:response-builder statusCode="#[httpStatus]"><httpn:headers>#[_outboundHeaders_]</httpn:headers></httpn:response-builder>
            <httpn:error-response-builder statusCode="#[httpStatus]"><httpn:headers>#[_outboundHeaders_]</httpn:headers></httpn:error-response-builder>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>
        <apikit:router config-ref="apiConfig"/>
    </flow>

    <flow name="post:/subscription:application/json:apiConfig">
        <set-payload value="{&#xA;&quot;orderId&quot;:&quot;62&quot;&#xA;}" />
    </flow>

    <configuration defaultErrorHandler-ref="defaultErrorHandler"/>

    <error-handler name="defaultErrorHandler">
        <on-error-propagate when="#[exception.causedBy(org.mule.module.apikit.exception.BadRequestException)]">
            <set-variable variableName="httpStatus" value="400"/>
            <expression-component>flowVars['_outboundHeaders_'].put('Content-Type', 'application/json')</expression-component>
            <set-payload value="{&quot;error&quot;:&quot;#[exception.cause.message]&quot;}"/>
        </on-error-propagate>
        <on-error-propagate>
            <set-variable variableName="httpStatus" value="500"/>
            <set-payload value="Server error" mimeType="text/plain"/>
        </on-error-propagate>
    </error-handler>
</mule>
