mule-module-apikit/src/test/resources/org/mule/module/apikit/parameters/parameters-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">


    <!--<apikit:mapping-exception-strategy name="Global_Mapping_Exception_Strategy">-->
        <!--<apikit:mapping statusCode="404">-->
            <!--<apikit:exception value="org.mule.module.apikit.exception.NotFoundException"/>-->
            <!--<set-payload value="resource not found"/>-->
        <!--</apikit:mapping>-->
        <!--<apikit:mapping statusCode="405">-->
            <!--<apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException"/>-->
            <!--<set-payload value="method not allowed"/>-->
        <!--</apikit:mapping>-->
        <!--<apikit:mapping statusCode="415">-->
            <!--<apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException"/>-->
            <!--<set-payload value="unsupported media type"/>-->
        <!--</apikit:mapping>-->
        <!--<apikit:mapping statusCode="406">-->
            <!--<apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException"/>-->
            <!--<set-payload value="not acceptable"/>-->
        <!--</apikit:mapping>-->
        <!--<apikit:mapping statusCode="400">-->
            <!--<apikit:exception value="org.mule.module.apikit.exception.BadRequestException"/>-->
            <!--<set-payload value="#[exception.causeException.message]"/>-->
        <!--</apikit:mapping>-->
    <!--</apikit:mapping-exception-strategy>-->

    <apikit:config raml="org/mule/module/apikit/parameters/parameters.yaml"/>

    <httpn:listener-config name="httpListenerConfigDefault">
        <httpn:listener-connection host="localhost" port="${serverPort}"/>
    </httpn:listener-config>

    <flow name="doorwayPathless">
        <httpn:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <httpn:response-builder statusCode="#[httpStatus]" headersRef="#[_outboundHeaders_]"/>
            <httpn:error-response-builder statusCode="500"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>
        <!--<http:inbound-endpoint port="${serverPort}" host="localhost" path="api"/>-->
        <apikit:router/>
        <!--<exception-strategy ref="Global_Mapping_Exception_Strategy"/>-->
    </flow>

    <flow name="get:/resources">
        <logger level="INFO" message="siamo qui"/>
    </flow>

    <flow name="get:/resources/{id}">
        <logger level="INFO" message="siamo qui"/>
    </flow>

    <flow name="get:/resources/{id}/{id2}">
        <logger level="INFO" message="siamo qui"/>
    </flow>

    <flow name="get:/repeat">
        <logger level="INFO" message="status: #[message.getAttributes().getQueryParams()['status']]"/>
    </flow>

</mule>
