mule-module-apikit/src/test/resources/org/mule/module/apikit/contenttype/content-type-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <!--<apikit:mapping-exception-strategy name="Global_Mapping_Exception_Strategy">-->
        <!--<apikit:mapping statusCode="404">-->
            <!--<apikit:exception value="org.mule.module.apikit.exception.NotFoundException"/>-->
            <!--<set-payload value="resource not found"/>-->
        <!--</apikit:mapping>-->
        <!--<apikit:mapping statusCode="405">-->
            <!--<apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException"/>-->
            <!--<set-payload value="method not allowed"/>-->
        <!--</apikit:mapping>-->
        <!--<apikit:mapping statusCode="415">-->
            <!--<apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException"/>-->
            <!--<set-payload value="unsupported media type"/>-->
        <!--</apikit:mapping>-->
        <!--<apikit:mapping statusCode="406">-->
            <!--<apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException"/>-->
            <!--<set-payload value="not acceptable"/>-->
        <!--</apikit:mapping>-->
        <!--<apikit:mapping statusCode="400">-->
            <!--<apikit:exception value="org.mule.module.apikit.exception.BadRequestException"/>-->
            <!--<set-payload value="bad request"/>-->
        <!--</apikit:mapping>-->
    <!--</apikit:mapping-exception-strategy>-->

    <httpn:listener-config name="httpListenerConfigDefault">
        <httpn:listener-connection host="localhost" port="${serverPort}"/>
    </httpn:listener-config>

    <apikit:config raml="org/mule/module/apikit/contenttype/content-type.yaml"/>

    <flow name="doorway">
        <httpn:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <httpn:response-builder headersRef="#[_outboundHeaders_]"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>
        <apikit:router/>
        <!--<exception-strategy ref="Global_Mapping_Exception_Strategy"/>-->
    </flow>

    <flow name="get:/resources">
        <logger level="INFO" message="siamo qui"/>
        <!--<set-payload value="null"/>-->
    </flow>

    <flow name="get:/multitype">
        <logger level="INFO" message="content type hint: #[message.inboundProperties.ctype]"/>
        <choice>
            <when expression="#[message.inboundProperties.ctype == 'json']">
                <logger level="INFO" message="returning json"/>
                <set-property propertyName="Content-Type" value="application/json"/>
            </when>
            <when expression="#[message.inboundProperties.ctype == 'xml']">
                <logger level="INFO" message="returning xml"/>
                <set-property propertyName="Content-Type" value="application/xml"/>
            </when>
            <otherwise>
                <logger level="INFO" message="returning html"/>
                <set-property propertyName="Content-Type" value="text/html"/>
            </otherwise>
        </choice>
        <!--<set-payload value="#[null]"/>-->
        <set-payload value="never mind"/>
    </flow>

</mule>
