mule-module-apikit/src/test/resources/org/mule/module/apikit/contenttype/content-routing-flow-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">


    <apikit:config name="router-config" raml="org/mule/module/apikit/contenttype/content-routing.yaml"
                   consoleEnabled="false"/>

    <httpn:listener-config name="httpListenerConfigDefault">
        <httpn:listener-connection host="localhost" port="${serverPort}"/>
    </httpn:listener-config>

    <flow name="doorway">
        <httpn:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <httpn:response-builder headersRef="#[_outboundHeaders_]"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>
        <apikit:router/>
    </flow>

    <flow name="console">
        <httpn:listener config-ref="httpListenerConfigDefault" path="/console/*">
            <httpn:response-builder headersRef="#[_outboundHeaders_]"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>
        <apikit:console/>
    </flow>


    <flow name="post:/leagues:application/json">
        <set-property propertyName="incoming-content-type" value="application/json"/>
    </flow>

    <flow name="post:/leagues:application/xml">
        <set-property propertyName="incoming-content-type" value="application/xml"/>
    </flow>

    <flow name="get:/leagues/{leagueId}">
        <set-payload value="leagueId: #[leagueId]"/>
    </flow>

    <flow name="put:/leagues/{leagueId}">
        <set-property propertyName="incoming-content-type" value="#[message.inboundProperties['content-type']]"/>
    </flow>



</mule>
