mule-module-apikit/src/test/resources/org/mule/module/apikit/resource/root-resource-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:core="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <apikit:config raml="org/mule/module/apikit/resource/root-resource.raml" consoleEnabled="true" consolePath="console" />

    <httpn:listener-config name="httpListenerConfig" basePath="base">
        <httpn:listener-connection host="localhost" port="${serverPort}"/>
    </httpn:listener-config>

    <flow name="main">
        <httpn:listener config-ref="httpListenerConfig" path="/api/*/test/*">
            <!--<httpn:error-response-builder statusCode="#[statusCode is null ? 500 : statusCode]"/>-->
            <httpn:response-builder statusCode="#[httpStatus]"><httpn:headers>#[_outboundHeaders_]</httpn:headers></httpn:response-builder>
            <httpn:error-response-builder statusCode="500"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[new java.util.HashMap()]"/>

        <apikit:router />
        <!--<exception-strategy ref="apiKitGlobalExceptionMapping"/>-->
    </flow>

    <flow name="get:/">
        <set-payload value="root" />
    </flow>

    <flow name="get:/level">
        <set-payload value="level" />
    </flow>

    <flow name="get://under">
        <set-payload value="under" />
    </flow>

    <flow name="get:/under">
        <set-payload value="supported by console?" />
    </flow>

    <flow name="get:/flat">
        <set-payload value="flat" />
    </flow>

    <flow name="get:/flat/child">
        <set-payload value="flat-child" />
    </flow>

    <!--<apikit:mapping-exception-strategy name="apiKitGlobalExceptionMapping">-->
        <!--<apikit:mapping statusCode="404">-->
            <!--<apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />-->
            <!--<set-property propertyName="Content-Type" value="text/plain" />-->
            <!--<set-payload value="Resource not found" />-->
        <!--</apikit:mapping>-->
    <!--</apikit:mapping-exception-strategy>-->

</mule>
