mule-module-apikit/src/test/resources/org/mule/module/apikit/resource/root-resource-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <apikit:config raml="org/mule/module/apikit/resource/root-resource.raml" consoleEnabled="true" consolePath="console" />

    <httpn:listener-config name="httpListenerConfig" basePath="base">
        <httpn:listener-connection host="localhost" port="${serverPort}"/>
    </httpn:listener-config>

    <flow name="main">
        <httpn:listener config-ref="httpListenerConfig" path="/api/*/test/*">
            <httpn:response-builder statusCode="#[mel:httpStatus]"><httpn:headers>#[mel:_outboundHeaders_]</httpn:headers></httpn:response-builder>
            <httpn:error-response-builder statusCode="#[mel:httpStatus]"/>
        </httpn:listener>
        <set-variable variableName="_outboundHeaders_" value="#[mel:new java.util.HashMap()]"/>
        <apikit:router />
    </flow>

    <flow name="get:/">
        <set-payload value="root" />
    </flow>

    <flow name="get:/level">
        <set-payload value="level" />
    </flow>

    <flow name="get://under">
        <set-payload value="under" />
    </flow>

    <flow name="get:/under">
        <set-payload value="supported by console?" />
    </flow>

    <flow name="get:/flat">
        <set-payload value="flat" />
    </flow>

    <flow name="get:/flat/child">
        <set-payload value="flat-child" />
    </flow>

    <configuration defaultErrorHandler-ref="defaultErrorHandler"/>

    <error-handler name="defaultErrorHandler">
        <on-error-propagate when="#[mel:exception.causedBy(org.mule.module.apikit.exception.NotFoundException)]">
            <set-variable variableName="httpStatus" value="404"/>
            <set-payload value="Resource not found"/>
        </on-error-propagate>
        <on-error-propagate>
            <set-variable variableName="httpStatus" value="500"/>
            <set-payload value="Server error" mimeType="text/plain"/>
        </on-error-propagate>
    </error-handler>

</mule>
